@forward 'components/theme';
@forward 'components/background';
@forward 'components/buttons';
@forward 'components/popup-search';
@forward 'components/preloader';
@forward 'components/carousel';
@forward 'components/offcanvas';
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/tab';
@forward 'components/modal';
@forward 'components/scroll-top';
@forward 'components/section-title';
@forward 'layout/header';
@forward 'components/mobile-menu';
@forward 'layout/slider';
@forward 'layout/nft';
@forward 'layout/about';
@forward 'layout/gallery';
@forward 'layout/team';
@forward 'layout/video';
@forward 'layout/roadmap';
@forward 'layout/upcoming-match';
@forward 'layout/match-result';
@forward 'layout/services';
@forward 'layout/social-profile';
@forward 'layout/tournament';
@forward 'layout/brand';
@forward 'layout/shop';
@forward 'layout/blog';
@forward 'layout/contact';
@forward 'components/pagination';
@forward 'layout/footer';
@forward 'components/animation';