<!-- header-area -->
<header>
    <div id="sticky-header" class="tg-header__area transparent-header">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="tgmenu__wrap">
                        <nav class="tgmenu__nav">
                            <div class="logo">
                                <a href="/servicos"><img src="/images/logo/logo.png" alt="Logo"></a>
                            </div>
                            <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
                                <ul class="navigation">
                                    <li class="<%- router === 'home' ? 'active ': '' %>menu-item-has-children"><a href="/servicos">Home</a></li>
                                    <li <%- router === 'sobre' ? "class=\"active\"" : '' %>><a href="/servicos/sobre">sobre nós</a></li>
                                    <li <%- router === 'contato' ? "class=\"active\"" : '' %>><a href="/servicos/contato">contato</a></li>
                                </ul>
                            </div>
                            <div class="tgmenu__action d-none d-md-block">
                                <ul class="list-wrap">
                                    <li class="side-toggle-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="tgmobile__menu">
                        <nav class="tgmobile__menu-box">
                            <div class="close-btn"><i class="flaticon-swords-in-cross-arrangement"></i></div>
                            <div class="nav-logo">
                                <a href="/servicos"><img src="/images/logo/logo.png" alt="Logo"></a>
                            </div>
                            <div class="tgmobile__menu-outer">
                                <!--Here Menu Will Come Automatically Via javascripts / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="list-wrap">
                                    <li><a href="https://www.instagram.com/logncursos/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://wa.me/19936189503?text=Olá! Tenho interesse e queria mais informações sobre seus serviços, por favor." target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="tgmobile__menu-backdrop"></div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>

    <!-- offCanvas-area -->
    <div class="offCanvas__wrap">
        <div class="offCanvas__body">
            <div class="offCanvas__top">
                <div class="offCanvas__logo logo">
                    <a href="/servicos"><img src="/images/logo/logo.png" alt="Logo"></a>
                </div>
                <div class="offCanvas__toggle">
                    <i class="flaticon-swords-in-cross-arrangement"></i>
                </div>
            </div>
            <div class="offCanvas__content">
                <h2 class="title">Agende uma <span>visita</span></h2>
                <div class="offCanvas__contact">
                    <h4 class="small-title">contate-nos</h4>
                    <ul class="offCanvas__contact-list list-wrap">
                        <li><a href="tel:19-93618.9503" target="_blank">19-93618.9503</a></li>
                        <li><a href="mailto:contato@logn.com.br" target="_blank">contato@logn.com.br</a></li>
                        <li><a href="https://www.google.com/maps?ll=-22.875806,-47.209399&z=19&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=5356591561626203440" target="_blank">edifício comercial metropolitan office tower.</a></li>
                    </ul>
                </div>
                <ul class="offCanvas__social list-wrap">
                    <li><a href="https://www.instagram.com/logncursos/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://wa.me/19936189503?text=Olá! Tenho interesse e queria mais informações sobre seus serviços, por favor." target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="offCanvas__copyright">
                <p><span>LOGN</span> © 2023</p>
            </div>
        </div>
    </div>
    <div class="offCanvas__overlay"></div>
    <!-- offCanvas-area-end -->

</header>
<!-- header-area-end -->