$colors: (
    common: (
        color-blue: #0d6efd,
        color-indigo: #6610f2,
        color-purple: #6f42c1,
        color-pink: #d63384,
        color-red: #dc3545,
        color-orange: #fd7e14,
        color-yellow: #ffc107,
        color-green: #198754,
        color-teal: #68fb9a,
        color-cyan: #0dcaf0,
        color-rating: #faa706,
        color-white: #fff,
        color-gray: #182029,
        color-black: #0f161b,
        color-black-2: #201f2a,
        color-black-3: #0b0e13,
        color-black-4: #10181f,
        color-black-5: #090d10,
        color-black-6: #050506,
        color-black-7: #040608,
        color-black-8: #0d141b,
        color-black-9: #111922,
    ),
    body: (
        color: #adb0bc,
    ),
    heading: (
        color: #fff,
    ),
    theme: (
        primary: #45f882,
        secondary: #ffbe18,
    ),
    border: (
        1: #19222b,
        2: #22292f,
        3: #2c3137,
        4: #333333,
        5: #1b242e,
    )
);
