<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="eSports and Gaming NFT Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
</head>

<body>


    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <%- include('./includes/inc.header.ejs') %>
    <!-- header-area-end -->



    <!-- main-area -->
    <main class="main--area">

        <!-- banner-area -->
        <section class="banner__area banner__padding">
            <div class="banner__bg tg-jarallax" data-background="/images/slider/slider_bg.jpg"></div>
            <div class="container custom-container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="banner__content slider__content text-center">
                            <h2 class="title wow bounceInLeft" data-wow-delay=".2s">Revolucione</h2>
                            <p class="wow bounceInLeft" data-wow-delay=".4s">Torne-se um desenvolvedor C#</p>
                            <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s">
                                <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-1" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Lorem Ipsum</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-area-end -->

        <!-- match-result-area -->
        <section class="match__result-area">
            <div class="match__result-bg" data-background="/images/bg/result_bg.png"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-55">
                            <span class="sub-title tg__animate-text">REDEFINA SEU FUTURO</span>
                            <h3 class="title">Domine C# e Conquiste o Mercado de Tecnologia</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="match__winner-title">Embarque em uma transformação de carreira com um curso prático e acessível, ideal para iniciantes.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-5" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>lorem ipsum</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- match-result-area-end -->
        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Veja como será essa jornada!</span>
                            <h2 class="title" style="font-size: 35px">Versatilidade em Múltiplas Plataformas com C#</h2>
                            <p>
                                Se você nunca teve contato com programação ou já possui experiência e deseja refinar seus conhecimentos, este é o curso ideal para você! Nosso foco principal é lógica de programação e algoritmos. Para escrever os códigos, usamos a linguagem de programação C# muito poderosa criada pela Microsoft.
                            </p>
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title" style="font-size: 35px">Alta Demanda e Oportunidades de Carreira</h2>
                            <p>
                                A procura por desenvolvedores especializados em C# está em alta, tanto em startups quanto em grandes corporações.
                                Dominar C# significa aumentar significativamente suas oportunidades de emprego em um mercado de trabalho cada vez mais competitivo.
                            </p>
                            <h2 class="title" style="font-size: 35px">Flexibilidade e Aplicação Ampla</h2>
                            <p>
                                C# é uma linguagem ideal para desenvolver uma ampla gama de aplicações, desde soluções empresariais complexas até jogos e aplicativos móveis.
                                Essa flexibilidade permite que você atenda a variadas necessidades organizacionais com soluções personalizadas e inovadoras.
                            </p>
                            <h2 class="title" style="font-size: 35px">Conquiste Seu Espaço na Tecnologia</h2>
                            <p>
                                Ao mergulhar no mundo do C#, você abre portas para oportunidades empolgantes no setor de tecnologia.
                                Este curso é o seu trampolim para uma carreira promissora em desenvolvimento de software,
                                onde a dedicação e o esforço se traduzem em realizações profissionais rápidas e recompensadoras.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- area-background-start -->
        <div class="area-background" data-background="/images/bg/area_bg02.jpg">

            <!-- about-area -->
            <section class="about__area-two section-pt-160 section-pb-190">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-6 col-lg-6 order-0 order-lg-2">
                            <div class="about__funFact-images">
                                <img src="/images/others/fun_fact_shape.png" alt="background" class="bg-shape">
                                <img src="/images/bruno-bafilli.png" class="main-img max-width-482" alt="image">
                            </div>
                            <!-- <div class="about__funFact-trophy">
                                <div class="icon"><img src="/images/icons/trophy.png" alt="trophy"></div>
                                <div class="content">
                                    <h5>Tournament</h5>
                                    <span>Development</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-10">
                            <div class="section__title text-start mb-30">
                                <h3 class="title">Instrutor</h3>
                            </div>
                            <div class="about__content-two">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quasi, ratione quibusdam corporis possimus pariatur asperiores porro blanditiis, minus, quo quidem necessitatibus molestias? Accusamus voluptatem aliquid neque a optio deserunt?</p>
                            </div>
                            <div class="about__content-bottom">
                                <div class="about__funFact-wrap">
                                    <div class="about__content-btns">
                                        <a href="contact.html" class="tg-btn-3 tg-svg">
                                            <div class="svg-icon" id="svg-6" data-svg-icon="/images/icons/shape.svg"></div>
                                            <span>lorem ipsum</span>
                                        </a>
                                        <a href="https://www.instagram.com/logncursos/" target="_blank" class="my-popup-container"><i class="fab fa-instagram my-popup-video"></i><span class="text">Instagram</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->
        </div>
        <!-- area-background-end -->
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <h2 class="title" style="font-size: 35px">Módulos do curso</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row formacao">
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Primeiros passos</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Escrevendo seus primeiros códigos</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Tipos de dados e operadores</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Instrução de decisão e Repetição</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Funções/Métodos</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Vetores e Matrizes</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Strings/Textos e Alias</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Tratamentos de erros com Exceções Try Catch e Finally</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Programas com interface gráfica GUI</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                        </svg>
                                        <p>Aula bônus</p>
                                    </div>
                                </div>
                                <h2 class="title do-curso" style="font-size: 35px">Este curso inclui</h2>
                                <ul class="list-curso row" role="list">
                                    <li class="col-12 col-md-6"><span>12,5 horas de vídeo sob demanda</span></li>
                                    <li class="col-12 col-md-6"><span>35 recursos para download</span></li>
                                    <li class="col-12 col-md-6"><span>Acesso no dispositivo móvel e na TV</span></li>
                                    <li class="col-12 col-md-6"><span>Acesso total vitalício</span></li>
                                    <li class="col-12 col-md-6"><span>Certificado de conclusão</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Testemunhos</span>
                            <h2 class="title" style="font-size: 35px">O que nossos alunos dizem</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Leonard Rodrigues do V.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei bastante, aprendi muita coisa. Como estou iniciando meus estudos na programação, ainda não tenho um parâmetro formado, mas o que vi já me agradou, além da didatica e exemplos que são muito bons.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Kelvin Macedo C.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei, me ajudou bastante a entender melhor sobre lógica de programação, e a aula bônus é bem interessante. Parabéns!
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Joao Vitor Santos de Jesus B.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            O básico muito bem explicado e realmente importante! Curso maravilhoso!!!!!!!!!!
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">José L.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Curso muito bom, uma introdução com detalhamento adequado e bons exercícios e explicações. Bruno é um ótimo professor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <!-- project-area -->
        <!-- <section class="project-area project-bg section-pt-120 section-pb-140">
            <div class="container custom-container">
                <div class="project__wrapper">
                    <div class="section__title text-start">
                        <h3 class="title">PROJECTS MYKD</h3>
                        <span class="sub-title tg__animate-text">our LATEST gallery</span>
                    </div>
                    <div class="swiper-container project-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_01.jpg" class="popup-image"><img src="/images/gallery/project_01.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_02.jpg" class="popup-image"><img src="/images/gallery/project_02.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_03.jpg" class="popup-image"><img src="/images/gallery/project_03.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_04.jpg" class="popup-image"><img src="/images/gallery/project_04.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_05.jpg" class="popup-image"><img src="/images/gallery/project_05.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_06.jpg" class="popup-image"><img src="/images/gallery/project_06.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_07.jpg" class="popup-image"><img src="/images/gallery/project_07.jpg" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project__item">
                                    <a href="/images/gallery/project_08.jpg" class="popup-image"><img src="/images/gallery/project_08.jpg" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-button-prev">
                        <i class="flaticon-right-arrow"></i>
                        <i class="flaticon-right-arrow"></i>
                    </div>
                </div>
            </div>
            scrollbar
            <div class="swiper-scrollbar"></div>
        </section> -->
        <!-- project-area-end -->

    </main>
    <!-- main-area-end -->


    <!-- footer-area-start -->
    <%- include("./includes/inc.footer.ejs") %>
    <!-- footer-start-end -->



    <!-- JS here -->
    <script src="/javascripts//vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts//bootstrap.min.js"></script>
    <script src="/javascripts//jquery.magnific-popup.min.js"></script>
    <script src="/javascripts//jquery.countdown.min.js"></script>
    <script src="/javascripts//jquery.waypoints.min.js"></script>
    <script src="/javascripts//jquery.odometer.min.js"></script>
    <script src="/javascripts//simpleParallax.min.js"></script>
    <script src="/javascripts//jquery-ui.min.js"></script>
    <script src="/javascripts//gsap.min.js"></script>
    <script src="/javascripts//scrollTrigger.min.js"></script>
    <script src="/javascripts//splitText.min.js"></script>
    <script src="/javascripts//jquery.appear.js"></script>
    <script src="/javascripts//tg-cursor.min.js"></script>
    <script src="/javascripts//swiper-bundle.js"></script>
    <script src="/javascripts//jarallax.min.js"></script>
    <script src="/javascripts//parallax.min.js"></script>
    <script src="/javascripts//slick.min.js"></script>
    <script src="/javascripts//ajax-form.js"></script>
    <script src="/javascripts//vivus.min.js"></script>
    <script src="/javascripts//wow.min.js"></script>
    <script src="/javascripts//main.js"></script>
</body>

</html>