<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="Revolucione! Aprenda programação do zero">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
    
        <!-- Page-Revealer -->
        <script src="/javascripts/tg-page-head.js"></script>
        
        
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-52H4QX2B');
        <!-- End Google Tag Manager -->
        </script>
       <!-- Meta Pixel Code -->
       <script>
           !function(f,b,e,v,n,t,s)
           {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
           n.callMethod.apply(n,arguments):n.queue.push(arguments)};
           if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
           n.queue=[];t=b.createElement(e);t.async=!0;
           t.src=v;s=b.getElementsByTagName(e)[0];
           s.parentNode.insertBefore(t,s)}(window, document,'script',
           'https://connect.facebook.net/en_US/fbevents.js');
           fbq('init', '1096324748483801');
           fbq('track', 'PageView');
       </script>
       <noscript><img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=1096324748483801&ev=PageView&noscript=1"
       /></noscript>
       <!-- End Meta Pixel Code -->
</head>

<body>


    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <%- include('./includes/inc.header.ejs') %>
    <!-- header-area-end -->



    <!-- main-area -->
    <main class="main--area">

        <!-- banner-area -->
        <section class="banner__area banner__padding">
            <div class="banner__bg tg-jarallax" data-background="/images/slider/slider_bg.jpg"></div>
            <div class="container custom-container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="banner__content slider__content text-center">
                            <h2 class="title mb-title wow bounceInLeft" data-wow-delay=".2s">Revolucione</h2>
                            <p class="wow bounceInLeft" data-wow-delay=".4s">Aprenda programação do zero</p>
                            <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-1" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-area-end -->

        <!-- match-result-area -->
        <section class="match__result-area">
            <div class="match__result-bg" data-background="/images/bg/result_bg.png"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-55">
                            <span class="sub-title tg__animate-text">REDEFINA SEU FUTURO</span>
                            <h3 class="title text-center">Aprenda programação na prática</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="match__winner-title text-center">Embarque em uma transformação de carreira com um curso prático e acessível, ideal para iniciantes.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-5" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- match-result-area-end -->
        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">O curso que abre portas para o seu sucesso profissional</span>
                            
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title mbt-title" style="font-size: 35px">Preparação Completa para o Mercado</h2>
                            <p>
                                Buscamos proporcionar uma experiência única ao oferecer testes práticos semanais que são cuidadosamente selecionados para refletir os desafios encontrados em entrevistas técnicas de grandes empresas renomadas, como <span class="distaque">Microsoft</span>, <span class="distaque">Google</span>, <span class="distaque">Netflix</span>  e outras gigantes do setor de tecnologia. Os testes são projetados para simular fielmente as situações que você pode encontrar ao se candidatar a cargos nessas organizações.
                            </p>
                            <h2 class="title mbt-title" style="font-size: 35px">Conhecimento Aplicado</h2>
                            <p>
                               Além dos testes práticos, as aulas são interativas e explicativas. Queremos que você realmente entenda programação, sem precisar decorar códigos. O objetivo é fornecer conhecimento para que você saiba aplicar os códigos na prática.
                            </p>
                            <h2 class="title mbt-title" style="font-size: 35px">Aprenda a Poderosa Linguagem C#</h2>
                            <p>
                               Atualmente, o nosso curso de programação está focado no ecossistema da Microsoft, utilizando a linguagem de programação C#. Esta é reconhecida como uma das linguagens mais robustas e influentes do mercado.
                            </p>
                            
                            <h2 class="title mbt-title" style="font-size: 35px">O que você pode criar com C#</h2>
                            <ul class="roadMap__list list-wrap mgb-44">
                                <li class="active style2">
                                    <p>Desenvolvimento de Aplicações Desktop</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Desenvolvimento Web</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Desenvolvimento de Jogos</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Integração de Sistemas</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Desenvolvimento de Aplicações Móveis</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Inteligência Artificial e Aprendizado de Máquina</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Manipulação de Dados e Banco de Dados</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Automação e Scripting</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Desenvolvimento de Serviços em Nuvem</p>
                                </li>
                            
                                <li class="active style2">
                                    <p>Aplicações Empresariais</p>
                                </li>
                            </ul>
                            <h2 class=" " style="font-size: 35px">Lógica é o objetivo principal</h2>
                            <p>
                                Este curso visa aprimorar sua habilidade de resolver problemas por meio da lógica de programação. Uma sólida base lógica é essencial para compreender e resolver problemas de forma eficiente.
                            </p>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-10" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
       <!-- Gráfico de média salárial -->
       <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/slider/slider_bg.jpg">
           <div class="container team__details-content">
                <span class="sub-title">Uma profissão que garante um ótimo salário!</span>
                <h2 class="title text-left" style="font-size: 35px">Média salárial de um desenvolvedor - PJ</h2>
                <div class="container-graphic">
                    <canvas id="myChart"></canvas>
                    
                </div>
                <p class="graphic-credits">Média Salarial de Desenvolvedores em 2023 por <a href="https://www.brasilcode.com.br/salario-de-programador-em-2023-quanto-ganha-e-o-que-faz/" target="_blank">brasilcode</a></p>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-15" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!-- fim Gráfico de média salárial -->
        
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/area_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Para Quem é Esse Curso?</span>
                            <h2 class="title" style="font-size: 35px">Aspirantes a Programadores</h2>
                            <p>
                                Sem necessidade de experiência prévia, proporcionamos o caminho ideal para que você inicie sua jornada a partir do absoluto zero. Nossa abordagem inclusiva e amigável é projetada para atender a todos os níveis de habilidade, garantindo que mesmo aqueles sem experiência anterior possam se envolver e progredir de maneira eficaz.
                            </p>
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title  mbt-title" style="font-size: 35px">Profissionais em Transição</h2>
                            <p>
                                Desbrave novos horizontes profissionais com o curso de programação para PROFISSIONAIS EM TRANSIÇÃO. Se você almeja uma transição de carreira sólida e anseia por ingressar no dinâmico mercado de tecnologia com confiança, este é o caminho ideal para você.
                            </p>
                            <h2 class="title  mbt-title" style="font-size: 35px">Estudantes da Área de TI</h2>
                            <p>
                                Potencialize sua formação acadêmica na área de TI ao complementar seus estudos com habilidades práticas. Esta abordagem prática não apenas enriquecerá sua compreensão teórica, mas também facilitará e complementará os estudos da faculdade.
                            </p>                          
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-20" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Por que aprender C#?</span>
                            <h2 class="title" style="font-size: 35px">ALTA DEMANDA E OPORTUNIDADES DE CARREIRA</h2>
                            <p>
                                A procura por desenvolvedores especializados em C# está em alta, tanto em startups quanto em grandes corporações. Dominar C# significa aumentar significativamente suas oportunidades de emprego em um mercado de trabalho cada vez mais competitivo.
                            </p>
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> 
                            <h2 class="title" style="font-size: 35px">FLEXIBILIDADE E APLICAÇÃO AMPLA</h2>
                            <p>
                                C# é uma linguagem ideal para desenvolver uma ampla gama de aplicações, desde soluções empresariais complexas até jogos e aplicativos móveis. Essa flexibilidade permite que você atenda a variadas necessidades organizacionais com soluções personalizadas e inovadoras.
                            </p>
                            <h2 class="title" style="font-size: 35px">CONQUISTE SEU ESPAÇO NA TECNOLOGIA</h2>
                            <p>
                                Ao mergulhar no mundo do C#, você abre portas para oportunidades empolgantes no setor de tecnologia. Este curso é o seu trampolim para uma carreira promissora em desenvolvimento de software, onde a dedicação e o esforço se traduzem em realizações profissionais e recompensadoras.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
         <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/result_bg_no_blue.jpg">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-6 col-lg-6 order-0 order-lg-2">
                        <div class="about__funFact-images">
                            <img src="/images/others/fun_fact_shape_black.jpg" alt="background" class="bg-shape">
                            <img src="/images/bruno-bafilli.png" class="main-img max-width-482" alt="image">
                        </div>
                        <!-- <div class="about__funFact-trophy">
                            <div class="icon"><img src="/images/icons/trophy.png" alt="trophy"></div>
                            <div class="content">
                                <h5>Tournament</h5>
                                <span>Development</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="section__title text-start mb-30">
                            <span class="sub-title">Ministrado por</span>
                            <h3 class="title">Bruno Bafilli</h3>
                        </div>
                        <div class="about__content-two">
                            <p>
                                Bruno Bafilli Começou sua carreira como professor de informática em 2006 e ao longo de todos estes anos vêm se dedicando na área de programação. 
                            </p>
                            <p>
                                Linguagens de preferência: C#, JS, TS, Solidity, SQL, HTML, CSS.
                            </p>
                            <p>
                                Frameworks de preferência: .NET, EF, AG.
                            </p>
                            <p>
                                Banco de dados: SQL, NOSQL.
                            </p>
                        </div>
                        <div class="about__content-bottom">
                            <div class="about__funFact-wrap">
                                <div class="about__content-btns">
                                    <a href="#pacotes" class="tg-btn-3 tg-svg">
                                        <div class="svg-icon" id="svg-6" data-svg-icon="/images/icons/shape.svg"></div>
                                        <span>Garantir Vaga</span>
                                    </a>
                                    <a href="https://www.instagram.com/brunobafilli/" target="_blank" class="my-popup-container"><i class="fab fa-instagram my-popup-video"></i><span class="text">Instagram</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->
        
        <!-- area-background-end -->
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/slider/slider_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Muito conteúdo</span>
                            <h2 class="title" style="font-size: 35px">Módulos do curso</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">01.</span> Primeiros passos</h3>
                                        <p>
                                            Primeiro contato com ferramentas de desenvolvimento de programas.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">02.</span> Escrevendo seus primeiros códigos</h3>
                                        <p>
                                            Introdução ao conceito de algoritmos e desenvolvimento do pensamento lógico necessário para programar.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">03.</span> Tipos de dados e operadores</h3>
                                        <p>
                                            Execução de comandos de forma sequencial para realizar tarefas programadas.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">04.</span> Instrução de decisão e Repetição</h3>
                                        <p>
                                            Instruções de decisão para tomada de caminhos diferentes no código, bem como instruções de repetição para iterar sobre tarefas de maneira eficiente.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">05.</span> Funções/Métodos</h3>
                                        <p>
                                           Modularizar e reutilizar código, criando blocos de instruções encapsulados para realizar tarefas específicas, promovendo uma abordagem mais organizada e eficiente.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">06.</span> Vetores e Matrizes</h3>
                                        <p>
                                            Estruturas de dados multidimensionais para armazenar e manipular conjuntos de informações, possibilitando o processamento eficiente de dados em programação.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">07.</span> Strings/Textos e Alias</h3>
                                        <p>
                                            Manipulação de sequências de caracteres e a criação de alias para variáveis, aprimorando habilidades fundamentais para lidar com texto e otimizar a legibilidade e a manutenção do código.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">08.</span> Tratamentos de erros com Exceções Try Catch e Finally</h3>
                                        <p>
                                            Estruturas que lidam com situações inesperadas durante a execução do programa, proporcionando uma abordagem robusta para gerenciar e responder a erros de maneira controlada.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">09.</span> Programas com interface gráfica GUI</h3>
                                        <p>
                                            criação de aplicações interativas, utilizando bibliotecas e ferramentas para desenvolver interfaces gráficas, tornando os programas mais intuitivos e acessíveis aos usuários.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">10.</span> Aula bônus</h3>
                                        <p>
                                            Desenvolvendo um Instalador Personalizado para Aprimorar a Distribuição do Seu Projeto.
                                        </p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-25" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- faq-area -->
        <!-- <section class="faq-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="faq__content-wrap">
                            <div class="section__title text-start">
                                <span class="sub-title tg__animate-text">veja mais</span>
                                <h3 class="title">Nossos cursos</h3>
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum <br> sollicitudin is yaugue euismods.</p>
                            </div>
                            <div class="faq__wrapper">
                                <div class="accordion" id="accordionExample">

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                               <span class="count">1°</span> Módulo - Primeiros Passos
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Primeiros passos</li>
                                                    <li class="active tg__animate-text style2">Escrevendo seus primeiros códigos</li>
                                                    <li class="active tg__animate-text style2">Tipos de dados e operadores</li>
                                                    <li class="active tg__animate-text style2">Introdução de decisão e repetição</li>
                                                    <li class="active tg__animate-text style2">Funções/Métodos</li>
                                                    <li class="active tg__animate-text style2">Vetores e matrizes</li>
                                                    <li class="active tg__animate-text style2">String, textos e alias</li>
                                                    <li class="active tg__animate-text style2">Tratamentos de erros com exceções try catch e finally</li>
                                                    <li class="active tg__animate-text style2">Programas com interface gráfica gui</li>
                                                    <li class="active tg__animate-text style2">Aula bônus</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span class="count">2°</span> Módulo - Algoritmos e Lógica de programação
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Algoritmos Computacionais</li>
                                                    <li class="active tg__animate-text style2">Lógica de Programação de Computadores</li>
                                                    <li class="active tg__animate-text style2">Linguagem de Programação de Computadores</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span class="count">3°</span> Módulo - Programação com Sequências
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Etapas de Ação de um Computador</li>
                                                    <li class="active tg__animate-text style2">Tipos de Dados Primitivos ou Dados Básicos</li>
                                                    <li class="active tg__animate-text style2">O Uso de Variáveis</li>
                                                    <li class="active tg__animate-text style2">O Uso de Constantes</li>
                                                    <li class="active tg__animate-text style2">Os Operadores Aritméticos</li>
                                                    <li class="active tg__animate-text style2">Expressões Aritméticas</li>
                                                    <li class="active tg__animate-text style2">Instruções e Comandos</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span class="count">4°</span> Módulo - Programação com Decisão
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Decisões, Condições e Operadores Relacionais</li>
                                                    <li class="active tg__animate-text style2">Desvio Condicional Simples</li>
                                                    <li class="active tg__animate-text style2">Desvio Condicional Composto</li>
                                                    <li class="active tg__animate-text style2">Outras Formas de Desvios Condicionais</li>
                                                    <li class="active tg__animate-text style2">Operadores Lógicos</li>
                                                    <li class="active tg__animate-text style2">Divisibilidade: Multiplos e Divisores</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <span class="count">5°</span> Módulo - Programação com Laços
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Laços ou Malhas (Loopings ou Loops)</li>
                                                    <li class="active tg__animate-text style2">Laço Condicional Pré-Teste</li>
                                                    <li class="active tg__animate-text style2">Laço Condicional Pós-Teste</li>
                                                    <li class="active tg__animate-text style2">Laço Condicional Seletivo</li>
                                                    <li class="active tg__animate-text style2">Laço Incondicional</li>
                                                    <li class="active tg__animate-text style2">Consideracões entre Tipos de Laços</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                <span class="count">6°</span> Módulo - Estruturas de Dados Homogêneas de Uma Dimensão
                                            </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Matrizes de Uma Dimensão</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                <span class="count">7°</span> Módulo - Aplicações Básicas de Matrizes de Uma Dimensão
                                            </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Classificação de Elementos</li>
                                                    <li class="active tg__animate-text style2">Métodos de Pesquisa de Elementos</li>
                                                    <li class="active tg__animate-text style2">Utilização de Matrizes Dinâmicas</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEight">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                <span class="count">8°</span> Módulo - Estruturas de Dados Homogêneas de Duas Dimensões
                                            </button>
                                        </h2>
                                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Matrizes com Mais de Uma Dimensão</li>
                                                    <li class="active tg__animate-text style2">Matrizes de Duas Dimensoes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingNine">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                <span class="count">9°</span> Módulo - Estruturas de dados Heterogêneas
                                            </button>
                                        </h2>
                                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Estrutura de Registro</li>
                                                    <li class="active tg__animate-text style2">Estrutura de Registro de Matriz</li>
                                                    <li class="active tg__animate-text style2">Estrutura de Matriz de Registros</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTen">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                <span class="count">10°</span> Módulo - Subprogramas/Funções
                                            </button>
                                        </h2>
                                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="roadMap__list list-wrap">
                                                    <li class="active tg__animate-text style2">Modularidade</li>
                                                    <li class="active tg__animate-text style2">Métodos Top-Down e Bottom-Up</li>
                                                    <li class="active tg__animate-text style2">Procedimentos</li>
                                                    <li class="active tg__animate-text style2">Escopo de Variáveis</li>
                                                    <li class="active tg__animate-text style2">Passagens de Parâmetros</li>
                                                    <li class="active tg__animate-text style2">Funções e Recursividade</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-40" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->


        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/area_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Atualizações frequentes</span>
                            <h2 class="title" style="font-size: 35px">Conteúdo novo toda semana</h2>
    
                        <div class="team__details-inner-wrap">
                            <div class="row My-grid">
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">01.</span> Mais de 130 aulas</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">02.</span> Desafios técnicos</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">03.</span> Recursos para download</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">05.</span> Novas aulas toda semana</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">06.</span> Comunidade ativa</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">07.</span> Certificado de conclusão</h3>
                                </div>
                                
                                <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">08.</span> Desafios técnicos semanais</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">09.</span> 2 aulas exclusivas por semana</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">10.</span> Aulas bônus</h3>
                                    </div>
                                    
                                      <div class="roadMap__steps-item active content-none">
                                            <h3 class="title m-none"><span class="yellow-title">11.</span> Acesse no celular ou na TV</h3>
                                    </div>
                            </div>
                            <!--<h2 class="title mbt-title" style="font-size: 35px">Leve de bônus</h2>-->
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    
                                </div>
                            </div>
                            <!--<h2 class="title mbt-title" style="font-size: 35px">Tudo isso por apenas</h2>
                            <p>COLOCAR PREÇOS MENSAL E ANUAL (PREÇO PARCELADO DO ANUAL)</p>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-30" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </section>
        

 
       <section class="services__details-area section-pt-120 section-pb-120" id="pacotes" data-background="/images/bg/team_details_bg.jpg">
            <div class="container team__details-content">
            
                        <span class="sub-title">Promoção temporária</span>
                        <h2 class="related-title mb-0" >Pacotes</h2>
                        <p>Inscreva-se e explore o curso por 7 dias. Se não atender às suas expectativas, receba reembolso integral, sem burocracia.</p>
                        <div class="row justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
                           <a href="https://chk.eduzz.com/2216532" target="_blank">
                                <div class="col">
                                    <div class="shop__item">
                                        <div class="shop__item-thumb">
                                            <img src="/images/products/product01.svg" alt="img">
                                        </div>
                                        <div class="shop__item-line"></div>
                                        <div class="shop__item-content">
                                            <div class="shop__item-content-top">
                                                <h4 class="title"><a href="https://chk.eduzz.com/2216532" target="_blank">Mensal</a></h4>
                                                <div class="shop__item-price">R$ 24,90</div>
                                            </div>
                                            <!--<div class="shop__item-cat"><a href="shop.html">Valor promocional</a></div>-->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://chk.eduzz.com/2216514" target="_blank">
                                <div class="col">
                                    <div class="shop__item">
                                        <div class="shop__item-thumb">
                                           <img src="/images/products/product04.svg" alt="img">
                                        </div>
                                        <div class="shop__item-line"></div>
                                        <div class="shop__item-content">
                                            <div class="shop__item-content-top">
                                                <h4 class="title"><a href="shop-details.html">Anual em até 12x</a></h4>
                                                <div class="shop__item-price">R$ 20,43 <br></div>
                                            </div>
                                            <div class="shop__item-cat"><a href="https://chk.eduzz.com/2216514" target="_blank"><span class="distaque">R$ 199.90</span> À vista </a></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
   
                        <!--<h2 class="title mbt-title" style="font-size: 35px">Sua Satisfação Garantida ou Seu Dinheiro de Volta</h2> 
                        <p>
                            Inscreva-se e explore o curso por 7 dias. Se não atender às suas expectativas, receba reembolso integral, sem burocracia.
                        </p>-->
                  
                </div>
            </div>
        </section>

        
        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/slider/slider_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Testemunhos</span>
                            <h2 class="title" style="font-size: 35px">O que nossos alunos dizem</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Leonard Rodrigues do V.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei bastante, aprendi muita coisa. Como estou iniciando meus estudos na programação, ainda não tenho um parâmetro formado, mas o que vi já me agradou, além da didatica e exemplos que são muito bons.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Kelvin Macedo C.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei, me ajudou bastante a entender melhor sobre lógica de programação, e a aula bônus é bem interessante. Parabéns!
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-35" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- main-area-end -->


    <!-- footer-area-start -->
    <%- include("./includes/inc.footer.ejs") %>
    <!-- footer-start-end -->



    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascripts/chart-graphic.js"></script>
</body>

</html>