<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="Revolucione! Aprenda programação do zero">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
</head>

<body>


    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <%- include('./includes/inc.header.ejs') %>
    <!-- header-area-end -->



    <!-- main-area -->
    <main class="main--area">

        <!-- banner-area -->
        <section class="banner__area banner__padding">
            <div class="banner__bg tg-jarallax" data-background="/images/slider/slider_bg.jpg"></div>
            <div class="container custom-container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="banner__content slider__content text-center">
                            <h2 class="title mb-title wow bounceInLeft" data-wow-delay=".2s">Revolucione</h2>
                            <p class="wow bounceInLeft" data-wow-delay=".4s">Aprenda programação do zero</p>
                            <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s">
                                <a href="javascript:void(0)" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-1" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-area-end -->

        <!-- match-result-area -->
        <section class="match__result-area">
            <div class="match__result-bg" data-background="/images/bg/result_bg.png"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-55">
                            <span class="sub-title tg__animate-text">REDEFINA SEU FUTURO</span>
                            <h3 class="title">Aprenda programação na prática</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="match__winner-title">Embarque em uma transformação de carreira com um curso prático e acessível, ideal para iniciantes.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="javascript:void(0)" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-5" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- match-result-area-end -->
        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">O curso que abre portas para o seu sucesso profissional</span>
                            <h2 class="title" style="font-size: 35px">Lógica é o objetivo principal</h2>
                            <p>
                                Este curso visa aprimorar sua habilidade de resolver problemas por meio da lógica de programação. Uma sólida base lógica é essencial para compreender e resolver problemas de forma eficiente.
                            </p>
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title" style="font-size: 35px">Preparação Completa para o Mercado</h2>
                            <p>
                                Receba as ferramentas e o conhecimento para atuar como desenvolvedor, começando do zero até a excelência.
                            </p>
                            <h2 class="title" style="font-size: 35px">Conhecimento Aplicado</h2>
                            <p>
                                Domine os princípios fundamentais e construa um sistema robusto de trabalho, pronto para qualquer desafio.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Para Quem é Esse Curso?</span>
                            <h2 class="title" style="font-size: 35px">Aspirantes a Programadores</h2>
                            <p>
                                Sem necessidade de experiência prévia, damos o caminho para você começar do absoluto zero.
                            </p>
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title" style="font-size: 35px">Profissionais em Transição</h2>
                            <p>
                                Para aqueles que buscam uma mudança de carreira sólida e desejam entrar no mercado de tecnologia com confiança.
                            </p>
                            <h2 class="title" style="font-size: 35px">Estudantes da Área de TI</h2>
                            <p>
                                Complemente seus estudos acadêmicos com habilidades práticas e projetos reais.
                            </p>
                            <h2 class="title" style="font-size: 35px">Freelancers em Expansão</h2>
                            <p>
                                Expanda seus serviços oferecendo soluções em uma das linguagens de programação mais demandadas.
                            </p>
                            <h2 class="title" style="font-size: 35px">Desenvolvedores em Crescimento</h2>
                            <p>
                                Aprofunde seus conhecimentos e atualize-se com as melhores práticas e tendências atuais do desenvolvimento em C#. 
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Por que aprender C#?</span>
                            <h2 class="title" style="font-size: 35px">ALTA DEMANDA E OPORTUNIDADES DE CARREIRA</h2>
                            <p>
                                A procura por desenvolvedores especializados em C# está em alta, tanto em startups quanto em grandes corporações. Dominar C# significa aumentar significativamente suas oportunidades de emprego em um mercado de trabalho cada vez mais competitivo.
                            </p>
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title" style="font-size: 35px">FLEXIBILIDADE E APLICAÇÃO AMPLA</h2>
                            <p>
                                C# é uma linguagem ideal para desenvolver uma ampla gama de aplicações, desde soluções empresariais complexas até jogos e aplicativos móveis. Essa flexibilidade permite que você atenda a variadas necessidades organizacionais com soluções personalizadas e inovadoras.
                            </p>
                            <h2 class="title" style="font-size: 35px">CONQUISTE SEU ESPAÇO NA TECNOLOGIA</h2>
                            <p>
                                Ao mergulhar no mundo do C#, você abre portas para oportunidades empolgantes no setor de tecnologia. Este curso é o seu trampolim para uma carreira promissora em desenvolvimento de software, onde a dedicação e o esforço se traduzem em realizações profissionais e recompensadoras.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- area-background-start -->
        <div class="area-background" data-background="/images/bg/area_bg02.jpg">

            <!-- about-area -->
            <section class="about__area-two section-pt-160 section-pb-190">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-6 col-lg-6 order-0 order-lg-2">
                            <div class="about__funFact-images">
                                <img src="/images/others/fun_fact_shape.png" alt="background" class="bg-shape">
                                <img src="/images/bruno-bafilli.png" class="main-img max-width-482" alt="image">
                            </div>
                            <!-- <div class="about__funFact-trophy">
                                <div class="icon"><img src="/images/icons/trophy.png" alt="trophy"></div>
                                <div class="content">
                                    <h5>Tournament</h5>
                                    <span>Development</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-10">
                            <div class="section__title text-start mb-30">
                                <h3 class="title">Instrutor</h3>
                            </div>
                            <div class="about__content-two">
                                <p>
                                    Bruno Bafilli Começou sua carreira como professor de informática em 2006 e ao longo de todos estes anos vêm se dedicando na área de programação. 
                                </p>
                                <p>
                                    Linguagens de preferência: C#, JS, TS, Solidity, SQL, HTML, CSS.
                                </p>
                                <p>
                                    Frameworks de preferência: .NET, EF, AG.
                                </p>
                                <p>
                                    Banco de dados: SQL, NOSQL.
                                </p>
                            </div>
                            <div class="about__content-bottom">
                                <div class="about__funFact-wrap">
                                    <div class="about__content-btns">
                                        <a href="javascript:void(0)" class="tg-btn-3 tg-svg">
                                            <div class="svg-icon" id="svg-6" data-svg-icon="/images/icons/shape.svg"></div>
                                            <span>Garantir Vaga</span>
                                        </a>
                                        <a href="https://www.instagram.com/brunobafilli/" target="_blank" class="my-popup-container"><i class="fab fa-instagram my-popup-video"></i><span class="text">Instagram</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->
        </div>
        
        <!-- area-background-end -->
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <h2 class="title" style="font-size: 35px">Módulos do curso</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">01.</span> Primeiros passos</h3>
                                        <p>
                                            Primeiro contato com ferramentas de desenvolvimento de programas.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">02.</span> Escrevendo seus primeiros códigos</h3>
                                        <p>
                                            Introdução ao conceito de algoritmos e desenvolvimento do pensamento lógico necessário para programar.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">03.</span> Tipos de dados e operadores</h3>
                                        <p>
                                            Execução de comandos em ordem direta para realizar tarefas programadas.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">04.</span> Instrução de decisão e Repetição</h3>
                                        <p>
                                            Ensino do uso de instruções condicionais para criar bifurcações lógicas no código.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">05.</span> Funções/Métodos</h3>
                                        <p>
                                            Exploração das estruturas de repetição e como elas permitem executar um conjunto de instruções várias vezes.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">06.</span> Vetores e Matrizes</h3>
                                        <p>
                                            Uso de arrays (vetores) para armazenar e manipular coleções de dados do mesmo tipo.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">07.</span> Strings/Textos e Alias</h3>
                                        <p>
                                            Aplicação prática dos conceitos de arrays em problemas de programação.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">08.</span> Tratamentos de erros com Exceções Try Catch e Finally</h3>
                                        <p>
                                            Introdução a matrizes bidimensionais (arrays de arrays) e seu uso em diferentes contextos.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">09.</span> Programas com interface gráfica GUI</h3>
                                        <p>
                                            Estruturas que podem armazenar diferentes tipos de dados, como structs ou classes.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title"><span class="blue-title">10.</span> Aula bônus</h3>
                                        <p>
                                            Abordagem sobre funções e procedimentos, ensinando a modularização do código.
                                        </p>
                                    </div>
                                </div>
                                <h2 class="title mbt-title" style="font-size: 35px">Sua Satisfação Garantida ou Seu Dinheiro de Volta</h2> 

                                <p>
                                    Inscreva-se e explore o curso por 7 dias. Se não atender às suas expectativas, receba reembolso integral, sem burocracia.
                                </p>

                            </div>
                            <h2 class="title mbt-title" style="font-size: 35px">Este curso inclui</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">01.</span> 12,5 horas de vídeo sob demanda</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">02.</span> 35 recursos para download</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">03.</span> Acesse no celular ou na TV</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">04.</span> Novas aulas toda semana</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">05.</span> Comunidade ativa</h3>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title m-none"><span class="yellow-title">06.</span> Certificado de conclusão</h3>
                                    </div>
                                </div>
                                <h2 class="title mbt-title" style="font-size: 35px">Leve de bônus</h2>
                                <div class="team__details-inner-wrap">
                                    <div class="row My-grid">
                                        <div class="roadMap__steps-item active content-none">
                                            <h3 class="title m-none"><span class="yellow-title">01.</span> Desafios semanais de programação aplicados em grandes empresas</h3>
                                        </div>
                                        <div class="roadMap__steps-item active content-none">
                                            <h3 class="title m-none"><span class="yellow-title">02.</span> 2 aulas exclusivas por semana</h3>
                                        </div>
                                        <div class="roadMap__steps-item active content-none">
                                            <h3 class="title m-none"><span class="yellow-title">03.</span> Aulas bônus (tirar a aula bônus que está nos módulos)</h3>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="title mbt-title" style="font-size: 35px">Tudo isso por apenas</h2>
                                <p>COLOCAR PREÇOS MENSAL E ANUAL (PREÇO PARCELADO DO ANUAL)</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="shop-area shop-details-area">
            <div class="container">
                <div class="related__product-area">
                    <div class="related__product-wrapper">
                        <h2 class="related-title">Pacotes</h2>
                        <div class="row justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
                            <div class="col">
                                <div class="shop__item">
                                    <div class="shop__item-thumb">
                                        <a href="shop-details.html"><img src="/images/products/product01.jpg" alt="img"></a>
                                    </div>
                                    <div class="shop__item-line"></div>
                                    <div class="shop__item-content">
                                        <div class="shop__item-content-top">
                                            <h4 class="title"><a href="shop-details.html">Lorem Ipsum</a></h4>
                                            <div class="shop__item-price">R$ 00,00</div>
                                        </div>
                                        <div class="shop__item-cat"><a href="shop.html">Instrutor</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="shop__item">
                                    <div class="shop__item-thumb">
                                        <a href="shop-details.html"><img src="/images/products/product04.jpg" alt="img"></a>
                                    </div>
                                    <div class="shop__item-line"></div>
                                    <div class="shop__item-content">
                                        <div class="shop__item-content-top">
                                            <h4 class="title"><a href="shop-details.html">Lorem Ipsum</a></h4>
                                            <div class="shop__item-price">R$ 00,00</div>
                                        </div>
                                        <div class="shop__item-cat"><a href="shop.html">Instrutor</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h2 class="title mbt-title" style="font-size: 35px">Mantenha-se Atualizado com Novos Conteúdos Toda Semana</h2>
                <p>
                    Acesse um arsenal de conteúdos atualizados semanalmente. Domine as tendências e inovações do setor. Transforme sua carreira com conhecimento sempre fresco e relevante.
                </p>
            </div>
        </section>

        
        <!-- Gráfico de média salárial -->
        <section class="shop-area shop-details-area">
            <div class="container">
                <h2 class="title" style="font-size: 35px">Média salárial de um desenvolvedor C#</h2>
                <div class="container-graphic">
                    <canvas id="myChart"></canvas>
                    <p>Média Salarial de Desenvolvedores C# em 2023 por Talent.com</p>
                </div>

            </div>
        </section>
        <!-- fim Gráfico de média salárial -->

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Testemunhos</span>
                            <h2 class="title" style="font-size: 35px">O que nossos alunos dizem</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Leonard Rodrigues do V.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei bastante, aprendi muita coisa. Como estou iniciando meus estudos na programação, ainda não tenho um parâmetro formado, mas o que vi já me agradou, além da didatica e exemplos que são muito bons.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Kelvin Macedo C.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei, me ajudou bastante a entender melhor sobre lógica de programação, e a aula bônus é bem interessante. Parabéns!
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- main-area-end -->


    <!-- footer-area-start -->
    <%- include("./includes/inc.footer.ejs") %>
    <!-- footer-start-end -->



    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        const data = {
            labels: ['junior', 'Pleno', 'Senior'],
            datasets: [
                {
                    data: [3000, 5500, 7049],
                    borderWidth: 1,
                    backgroundColor: [
                        '#089fdd',
                        "#0867db",
                        "#0808d8"
                    ]
                }
            ]
        }
      
        new Chart(ctx, {
          type: 'doughnut',
          data: data,
          
        });
    </script>
</body>

</html>