<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="Revolucione! Aprenda programação do zero">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
    
        <!-- Page-Revealer -->
        <script src="/javascripts/tg-page-head.js"></script>
        
        
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-52H4QX2B');
        <!-- End Google Tag Manager -->
        </script>
       <!-- Meta Pixel Code -->
       <script>
           !function(f,b,e,v,n,t,s)
           {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
           n.callMethod.apply(n,arguments):n.queue.push(arguments)};
           if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
           n.queue=[];t=b.createElement(e);t.async=!0;
           t.src=v;s=b.getElementsByTagName(e)[0];
           s.parentNode.insertBefore(t,s)}(window, document,'script',
           'https://connect.facebook.net/en_US/fbevents.js');
           fbq('init', '1096324748483801');
           fbq('track', 'PageView');
       </script>
       <noscript><img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=1096324748483801&ev=PageView&noscript=1"
       /></noscript>
       <!-- End Meta Pixel Code -->
</head>

<body>


    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <%- include('./includes/inc.header.ejs') %>
    <!-- header-area-end -->



    <!-- main-area -->
    <main class="main--area">

        <!-- banner-area -->
        <section class="banner__area banner__padding">
            <div class="banner__bg tg-jarallax" data-background="/images/slider/slider_bg.jpg"></div>
            <div class="container custom-container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="banner__content slider__content text-center">
                            <h2 class="title mb-title wow bounceInLeft" data-wow-delay=".2s">A Profissão do agora!</h2>
                            <p class="wow bounceInLeft" data-wow-delay=".4s">Aprenda programação do zero</p>
                            <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-1" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-area-end -->

        <!-- match-result-area -->
        <section class="match__result-area">
            <div class="match__result-bg" data-background="/images/bg/result_bg.png"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-55">
                            <span class="sub-title tg__animate-text">O momento é agora</span>
                            <h3 class="title text-center">Aprenda programação na prática</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="match__winner-title text-center">Embarque em uma transformação de carreira com um curso prático e acessível.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-5" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- match-result-area-end -->
        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">O curso que abre portas para o seu sucesso profissional</span>
                            
                            <!-- <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote> -->
                            <h2 class="title mbt-title" style="font-size: 35px">Preparação Completa para o Mercado</h2>
                            <p>
                                Buscamos proporcionar uma experiência única ao oferecer testes práticos semanais que são cuidadosamente selecionados para refletir os desafios encontrados em entrevistas técnicas de grandes empresas renomadas, como <span class="distaque">Microsoft</span>, <span class="distaque">Google</span>, <span class="distaque">Netflix</span>  e outras gigantes do setor de tecnologia. Os testes são projetados para simular fielmente as situações que você pode encontrar ao se candidatar a cargos nessas organizações.
                            </p>
                            <h2 class="title mbt-title" style="font-size: 35px">Conhecimento Aplicado</h2>
                            <p>
                               Além dos testes práticos, as aulas são interativas e explicativas. Queremos que você realmente entenda programação, sem precisar decorar códigos. O objetivo é fornecer conhecimento para que você saiba aplicar os códigos na prática.
                            </p>

                            <h2 class="title mbt-title" style="font-size: 35px">Lógica e estruturas de dados é o objetivo principal</h2>
                            <p>
                                Este curso tem como foco principal te ensinar <span class="distaque">lógica</span>, <span class="distaque">algoritmos</span> e <span class="distaque">estruturas de dados</span>, acreditamos que esses tópicos são fundamentais na programação, pois fornecem a base sólida necessária para construir soluções eficientes e escaláveis para uma variedade de problemas. Ao dominar a lógica, você será capaz de pensar de forma clara e analítica, identificando padrões e desenvolvendo soluções elegantes.
                            </p>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-10" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
       <!-- Gráfico de média salárial -->
       <!-- <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/slider/slider_bg.jpg">
           <div class="container team__details-content">
                <span class="sub-title">Uma profissão que garante um ótimo salário!</span>
                <h2 class="title text-left" style="font-size: 35px">Média salárial de um desenvolvedor - PJ</h2>
                <div class="container-graphic">
                    <canvas id="myChart"></canvas>
                    
                </div>
                <p class="graphic-credits">Média Salarial de Desenvolvedores em 2023 por <a href="https://www.brasilcode.com.br/salario-de-programador-em-2023-quanto-ganha-e-o-que-faz/" target="_blank">brasilcode</a></p>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-15" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section> -->
        <!-- fim Gráfico de média salárial -->
        
        <!-- <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/area_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Para Quem é Esse Curso?</span>
                            <h2 class="title" style="font-size: 35px">Aspirantes a Programadores</h2>
                            <p>
                                Sem necessidade de experiência prévia, proporcionamos o caminho ideal para que você inicie sua jornada a partir do absoluto zero. Nossa abordagem inclusiva e amigável é projetada para atender a todos os níveis de habilidade, garantindo que mesmo aqueles sem experiência anterior possam se envolver e progredir de maneira eficaz.
                            </p>
                            <h2 class="title  mbt-title" style="font-size: 35px">Profissionais em Transição</h2>
                            <p>
                                Desbrave novos horizontes profissionais com o curso de programação para PROFISSIONAIS EM TRANSIÇÃO. Se você almeja uma transição de carreira sólida e anseia por ingressar no dinâmico mercado de tecnologia com confiança, este é o caminho ideal para você.
                            </p>
                            <h2 class="title  mbt-title" style="font-size: 35px">Estudantes da Área de TI</h2>
                            <p>
                                Potencialize sua formação acadêmica na área de TI ao complementar seus estudos com habilidades práticas. Esta abordagem prática não apenas enriquecerá sua compreensão teórica, mas também facilitará e complementará os estudos da faculdade.
                            </p>                          
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="grand__final">
                        <div class="grand__final-button">
                            <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                <div class="svg-icon" id="svg-20" data-svg-icon="/images/icons/shape.svg"></div>
                                <span>Garantir Vaga</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="faq-area">
            <div class="container">
                
                <div class="row">
                    <div class="col-12">
                        <div class="team__details-content">
                            <span class="sub-title">Cursos</span>
                            <h2 class="title" style="font-size: 35px">Mais de <span id="contador-aulas"></span> aulas</h2>
                        </div>
                        <div class="product__desc-wrap" style="margin-top: 0">
                            <ul class="nav nav-tabs" id="descriptionTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Fundamentos</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Algoritmos e estruturas de dados</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="challeger-tab" data-bs-toggle="tab" data-bs-target="#challeger" type="button" role="tab" aria-controls="challeger" aria-selected="false">Desafios</button>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="descriptionTabContent">
                                <div class="tab-pane animation-none fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                    <!-- accordions -->
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <h5>Objetivo</h5>
                                            <p class="mb-5">O propósito deste material é proporcionar o seu primeiro contato com programação. Serão apresentadas ferramentas para escrever seus primeiros códigos, conceitos de lógica de programação e como abordar problemas de forma simples. Além disso, serão introduzidos os fundamentos básicos de algoritmos e estruturas de dados.</p>
                                            <div class="faq__content-wrap">
                                                <div class="faq__wrapper">
                                                    <div class="accordion" id="accordionExample">
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingOne">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                   <span class="count">1°</span> Módulo - Primeiros Passos
                                                                </button>
                                                            </h2>
                                                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução</li>
                                                                        <li class="active tg__animate-text style2">O que é Programação?</li>
                                                                        <li class="active tg__animate-text style2">Logica de Programação</li>
                                                                        <li class="active tg__animate-text style2">Algoritmos</li>
                                                                        <li class="active tg__animate-text style2">Por que vamos usar C#?</li>
                                                                        <li class="active tg__animate-text style2">Instalando o Visual Studio</li>
                                                                        <li class="active tg__animate-text style2">Instalando o dotnet (.NET)</li>
                                                                        <li class="active tg__animate-text style2">Como funciona o C# e o dotnet</li>
                                                                        <li class="active tg__animate-text style2">Finalização do Módulo 1</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingTwo">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                    <span class="count">2°</span> Módulo - Escrevendo seus primeiros códigos
                                                                </button>
                                                            </h2>
                                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 2</li>
                                                                        <li class="active tg__animate-text style2">Terminal (Básico)</li>
                                                                        <li class="active tg__animate-text style2">Hello World - Brian Kernighan</li>
                                                                        <li class="active tg__animate-text style2">Instalando plugins Visual Studio Code</li>
                                                                        <li class="active tg__animate-text style2">Console.WriteLine e Console.ReadLine</li>
                                                                        <li class="active tg__animate-text style2">WriteLine/ReadLine</li>
                                                                        <li class="active tg__animate-text style2">Comentários</li>
                                                                        <li class="active tg__animate-text style2">Optimização de criação de variáveis superficialmente</li>
                                                                        <li class="active tg__animate-text style2">IF e else, comparando os números superficialmente</li>
                                                                        <li class="active tg__animate-text style2">For</li>
                                                                        <li class="active tg__animate-text style2">Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 2</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingThree">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                    <span class="count">3°</span> Módulo - Tipos de dados e operadores
                                                                </button>
                                                            </h2>
                                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 3</li>
                                                                        <li class="active tg__animate-text style2">Tipos de dados e valores</li>
                                                                        <li class="active tg__animate-text style2">Casting</li>
                                                                        <li class="active tg__animate-text style2">Variáveis e Constantes</li>
                                                                        <li class="active tg__animate-text style2">Regras na criação de variáveis</li>
                                                                        <li class="active tg__animate-text style2">Tipo referencia e tipo valor memoria Heap e Stack (Teoria)</li>
                                                                        <li class="active tg__animate-text style2">Tipo referencia e tipo valor memoria Heap e Stack (Prática)</li>
                                                                        <li class="active tg__animate-text style2">Enumeradores</li>
                                                                        <li class="active tg__animate-text style2">Operadores</li>
                                                                        <li class="active tg__animate-text style2">Saída de dados - Concatenação e chaves</li>
                                                                        <li class="active tg__animate-text style2">Entrada de dados</li>
                                                                        <li class="active tg__animate-text style2">Conversões</li>
                                                                        <li class="active tg__animate-text style2">Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 3</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingFour">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                    <span class="count">4°</span> Módulo - Instrução de decisão e repetição
                                                                </button>
                                                            </h2>
                                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 4</li>
                                                                        <li class="active tg__animate-text style2">Decisão binária</li>
                                                                        <li class="active tg__animate-text style2">Switch...case</li>
                                                                        <li class="active tg__animate-text style2">For</li>
                                                                        <li class="active tg__animate-text style2">While</li>
                                                                        <li class="active tg__animate-text style2">Do while</li>
                                                                        <li class="active tg__animate-text style2">Break e Continue</li>
                                                                        <li class="active tg__animate-text style2">Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 4</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingFive">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                                    <span class="count">5°</span> Módulo - Funções/Métodos
                                                                </button>
                                                            </h2>
                                                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 5</li>
                                                                        <li class="active tg__animate-text style2">Esclarecendo uma Função/Método</li>
                                                                        <li class="active tg__animate-text style2">Um pouco mais sobre parâmetros e argumentos</li>
                                                                        <li class="active tg__animate-text style2">Passagem por referência</li>
                                                                        <li class="active tg__animate-text style2">Valores por omissão</li>
                                                                        <li class="active tg__animate-text style2">Recursividade</li>
                                                                        <li class="active tg__animate-text style2">Esclarecendo a usabilidade dos métodos</li>
                                                                        <li class="active tg__animate-text style2">Exercício</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 5</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingSix">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                                    <span class="count">6°</span> Módulo - Vetores e Matrizes
                                                                </button>
                                                            </h2>
                                                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 6</li>
                                                                        <li class="active tg__animate-text style2">Vetores (Teoria)</li>
                                                                        <li class="active tg__animate-text style2">Vetores (Prática)</li>
                                                                        <li class="active tg__animate-text style2">Acessando e alterando dados de um vetor</li>
                                                                        <li class="active tg__animate-text style2">Trabalhando com For e Vetores</li>
                                                                        <li class="active tg__animate-text style2">Copiando um vetor</li>
                                                                        <li class="active tg__animate-text style2">Foreach</li>
                                                                        <li class="active tg__animate-text style2">Matrizes</li>
                                                                        <li class="active tg__animate-text style2">Redimencionamento de vetores</li>
                                                                        <li class="active tg__animate-text style2">Algoritmo ordenação de vetores (parte 1)</li>
                                                                        <li class="active tg__animate-text style2">Algoritmo ordenação de vetores (parte 2)</li>
                                                                        <li class="active tg__animate-text style2">A importancia da matemática na programação e busca binária</li>
                                                                        <li class="active tg__animate-text style2">Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 3</li>
                                                                        <li class="active tg__animate-text style2">Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 4</li>
                                                                        <li class="active tg__animate-text style2">Exercício 5</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 5</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 6</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingSeven">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                                    <span class="count">7°</span> Módulo - Strings/Textos e Alias
                                                                </button>
                                                            </h2>
                                                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 7</li>
                                                                        <li class="active tg__animate-text style2">Compondo textos usando Char e For</li>
                                                                        <li class="active tg__animate-text style2">O que são ALIAS?</li>
                                                                        <li class="active tg__animate-text style2">Strings são imutáveis</li>
                                                                        <li class="active tg__animate-text style2">Comparação de Strings</li>
                                                                        <li class="active tg__animate-text style2">Manipulação de String</li>
                                                                        <li class="active tg__animate-text style2">Classe String</li>
                                                                        
                                                                        <li class="active tg__animate-text style2">StringBuilder</li>
                                                                        <li class="active tg__animate-text style2">Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 7</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingEight">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                                    <span class="count">8°</span> Módulo - Tratamentos de erros com exceções Try, Catch e Finally
                                                                </button>
                                                            </h2>
                                                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 8</li>
                                                                        <li class="active tg__animate-text style2">Exceções padrões</li>
                                                                        <li class="active tg__animate-text style2">Exceções Personalizadas</li>
                                                                        <li class="active tg__animate-text style2">Exercício</li>
                                                                        <li class="active tg__animate-text style2">Coreeção do Exercício</li>
                                                                        <li class="active tg__animate-text style2">Finalizando o Módulo 8</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingNine">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                                    <span class="count">9°</span> Módulo - Programas com interface gráfica GUI
                                                                </button>
                                                            </h2>
                                                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução ao Módulo 9</li>
                                                                        <li class="active tg__animate-text style2">Instalando IDE Visual Studio</li>
                                                                        <li class="active tg__animate-text style2">Criando um projeto do zero</li>
                                                                        <li class="active tg__animate-text style2">Primeiros controles</li>
                                                                        <li class="active tg__animate-text style2">Capturando o nome digitado</li>
                                                                        <li class="active tg__animate-text style2">Entendendo o arquivo Design.cs</li>
                                                                        <li class="active tg__animate-text style2">Calculadora simples</li>
                                                                        <li class="active tg__animate-text style2">Melhorando a calculadora</li>
                                                                        <li class="active tg__animate-text style2">RadioButton</li>
                                                                        <li class="active tg__animate-text style2">Eventos do RadioButton</li>
                                                                        <li class="active tg__animate-text style2">Validando campos vazios</li>
                                                                        <li class="active tg__animate-text style2">Validando caracteres especiais</li>
                                                                        <li class="active tg__animate-text style2">Conectando os dois métodos</li>
                                                                        <li class="active tg__animate-text style2">Criando uma lista de compras</li>
                                                                        <li class="active tg__animate-text style2">Lista encadeada e revisando vetor</li>
                                                                        <li class="active tg__animate-text style2">Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 1</li>
                                                                        <li class="active tg__animate-text style2">Exercício 2</li>
                                                                        <li class="active tg__animate-text style2">Correção do Exercício 2</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingTen">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                                    <span class="count">10°</span> Módulo - Bônus
                                                                </button>
                                                            </h2>
                                                            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Aula Bônus</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- accordions -->
                                </div>
                                <div class="tab-pane animation-none fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                                    <!-- accordions -->
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <h5 class="mb-1">Obejetivo</h5>
                                            <p class="yellow-title mb-2"><i class="fas fa-info-circle"></i> Aulas sendo lançadas constantemente</p>
                                            <p class="mb-5">Este material visa proporcionar um aprendizado mais avançado em algoritmos e estruturas de dados, preparando-o para resolver problemas e algoritmos mais complexos. É especialmente relevante para aqueles que buscam oportunidades em grandes empresas de tecnologia (BigTechs).</p>
                                            <div class="faq__content-wrap">

                                                <div class="faq__wrapper">
                                                    <div class="accordion" id="accordionExample2">
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingEleven">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                                                   <span class="count">1°</span> Módulo - Big(O)
                                                                </button>
                                                            </h2>
                                                            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample2">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução</li>
                                                                        <li class="active tg__animate-text style2">Notação assintótica</li>
                                                                        <li class="active tg__animate-text style2">Ordem de grandeza</li>
                                                                        <li class="active tg__animate-text style2">Regra da Simplificação</li>
                                                                        <li class="active tg__animate-text style2">Regra do termo dominante</li>
                                                                        <li class="active tg__animate-text style2">Adição de complexidade</li>
                                                                        <li class="active tg__animate-text style2">Multiplicação de Complexidades</li>
                                                                        <li class="active tg__animate-text style2">Pior caso vs Melhor caso</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingTwoelve">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoelve" aria-expanded="false" aria-controls="collapseTwoelve">
                                                                    <span class="count">2°</span> Módulo - Big(O) na prática
                                                                </button>
                                                            </h2>
                                                            <div id="collapseTwoelve" class="accordion-collapse collapse" aria-labelledby="headingTwoelve" data-bs-parent="#accordionExample2">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução</li>
                                                                        <li class="active tg__animate-text style2">O(1) - Tempo Constante</li>
                                                                        <li class="active tg__animate-text style2">O(n) - Complexidade Linear</li>
                                                                        <li class="active tg__animate-text style2">O(n^2) - Complexidade quadrática</li>
                                                                        <li class="active tg__animate-text style2">O(n.m) - Complexidade polinômial</li>
                                                                        <li class="active tg__animate-text style2">O(log n) - Complexidade logarítmica</li>
                                                                        <li class="active tg__animate-text style2">O(2^n) - Complexidade exponencial</li>
                                                                        <li class="active tg__animate-text style2">Finalização do módulo</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingThirteen">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                                                    <span class="count">3°</span> Módulo - Recursividade
                                                                </button>
                                                            </h2>
                                                            <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample2">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução</li>
                                                                        <li class="active tg__animate-text style2">Função recursiva</li>
                                                                        <li class="active tg__animate-text style2">Fatorial</li>
                                                                        <li class="active tg__animate-text style2">Árvore recursiva</li>
                                                                        <li class="active tg__animate-text style2">Riscos da recursividade</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingFourTeen">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTeen" aria-expanded="false" aria-controls="collapseFourTeen">
                                                                    <span class="count">4°</span> Módulo - Vetor, Matriz e string
                                                                </button>
                                                            </h2>
                                                            <div id="collapseFourTeen" class="accordion-collapse collapse" aria-labelledby="headingFourTeen" data-bs-parent="#accordionExample2">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Revisão vetor e matriz</li>
                                                                        <li class="active tg__animate-text style2">String</li>
                                                                        <li class="active tg__animate-text style2">Vetor</li>
                                                                        <li class="active tg__animate-text style2">Matriz</li>
                                                                        <li class="active tg__animate-text style2">Matriz dinâmica - Adicionando item</li>
                                                                        <li class="active tg__animate-text style2">Matriz dinâmica - Acessando item</li>
                                                                        <li class="active tg__animate-text style2">Matriz dinâmica - Deletando item</li>
                                                                        <li class="active tg__animate-text style2">Matriz dinâmica - Editando item</li>
                                                                        <li class="active tg__animate-text style2">Matriz dinâmica - Genérica</li>
                                                                        <li class="active tg__animate-text style2">Análise amortizada e tabela de tempo de execução</li>
                                                                        <li class="active tg__animate-text style2">Técnica dois ponteiros</li>
                                                                        <li class="active tg__animate-text style2">Dois ponteiros - Busca bidirecional</li>
                                                                        <li class="active tg__animate-text style2">Dois ponteiros - Procurando por dois números somados em um vetor</li>
                                                                        <li class="active tg__animate-text style2">Dois ponteiros em dois vetore</li>
                                                                        <li class="active tg__animate-text style2">Dois ponteiros - Exemplo de uso 1</li>
                                                                        <li class="active tg__animate-text style2">Dois ponteiros - Exemplo de uso 2</li>
                                                                        <li class="active tg__animate-text style2">Técnica janela deslizante</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante com dois ponteiros</li>
                                                                        <li class="active tg__animate-text style2">Jalena deslizante vs algoritmo de força bruta</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Exemplo de uso 1</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Exemplo de uso 2</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Exemplo de uso 3</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Fixa</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Exercicio - Encontrando a Subarray Contígua de Maior Média</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Exercicio - Maximizar Sequência de Uns com Trocas Permitidas</li>
                                                                        <li class="active tg__animate-text style2">Janela deslizante - Exercicio - Encontrar a Subsequência Mínima</li>
                                                                        <li class="active tg__animate-text style2">Técnica soma dos prefixos</li>
                                                                        <li class="active tg__animate-text style2">Soma dos prefixos na prática</li>
                                                                        <li class="active tg__animate-text style2">Porque soma dos prefixos é eficiente</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
            
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- accordions -->
                                </div>
                                <div class="tab-pane animation-none fade" id="challeger" role="tabpanel" aria-labelledby="challeger-tab">
                                    <!-- accordions -->
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <h5 class="mb-1">Obejetivo</h5>
                                            <p class="yellow-title mb-2"><i class="fas fa-info-circle"></i> Desafios sendo lançados constantemente</p>
                                            <p class="mb-5">Este material foi desenvolvido para ajudar na resolução de desafios técnicos apresentados por grandes empresas de tecnologia (BigTechs). O seu objetivo é prepará-lo para enfrentar esses desafios técnicos, fornecendo soluções passo a passo e incluindo testes de mesa para garantir uma compreensão completa das soluções. Além disso, serão apresentados o tempo espacial e de execução do algoritmo, fornecendo uma compreensão completa do desempenho e eficiência das soluções propostas.</p>
                                            <div class="faq__content-wrap">
                                                <div class="faq__wrapper">
                                                    <div class="accordion" id="accordionExample3">
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingSixTeen">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTeen" aria-expanded="true" aria-controls="collapseSixTeen">
                                                                   <span class="count">1°</span> Comece por aqui
                                                                </button>
                                                            </h2>
                                                            <div id="collapseSixTeen" class="accordion-collapse collapse" aria-labelledby="headingSixTeen" data-bs-parent="#accordionExample3">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Introdução</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingSevenTeen">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenTeen" aria-expanded="false" aria-controls="collapseSevenTeen">
                                                                    <span class="count">2°</span> Muito fácil
                                                                </button>
                                                            </h2>
                                                            <div id="collapseSevenTeen" class="accordion-collapse collapse" aria-labelledby="headingSevenTeen" data-bs-parent="#accordionExample3">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Encontre o maior número de um vetor</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="headingEightTeen">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightTeen" aria-expanded="false" aria-controls="collapseEightTeen">
                                                                    <span class="count">3°</span> Fácil
                                                                </button>
                                                            </h2>
                                                            <div id="collapseEightTeen" class="accordion-collapse collapse" aria-labelledby="headingEightTeen" data-bs-parent="#accordionExample3">
                                                                <div class="accordion-body">
                                                                    <ul class="roadMap__list list-wrap">
                                                                        <li class="active tg__animate-text style2">Compre dois chocolates</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        
            
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- accordions -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>


        


        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/area_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Atualizações frequentes</span>
                            <h2 class="title" style="font-size: 35px">Conteúdo novo toda semana</h2>
    
                        <div class="team__details-inner-wrap">
                            <div class="row My-grid">
                                
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">01.</span> Desafios técnicos</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">02.</span> Recursos para download</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">03.</span> Novas aulas toda semana</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">04.</span> Comunidade ativa</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">05.</span> Certificado de conclusão</h3>
                                </div>
                                
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">06.</span> Desafios técnicos semanais</h3>
                                </div>
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">07.</span> Aulas bônus</h3>
                                </div>
                                
                                <div class="roadMap__steps-item active content-none">
                                    <h3 class="title m-none"><span class="yellow-title">08.</span> Acesse no celular ou na TV</h3>
                                </div>
                            </div>
                            <!--<h2 class="title mbt-title" style="font-size: 35px">Leve de bônus</h2>-->
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    
                                </div>
                            </div>
                            <!--<h2 class="title mbt-title" style="font-size: 35px">Tudo isso por apenas</h2>
                            <p>COLOCAR PREÇOS MENSAL E ANUAL (PREÇO PARCELADO DO ANUAL)</p>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-30" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </section>
        

 
       <section class="services__details-area section-pt-120 section-pb-120" id="pacotes" data-background="/images/bg/team_details_bg.jpg">
            <div class="container team__details-content">
            
                        <span class="sub-title">Promoção temporária</span>
                        <h2 class="related-title mb-0" >Pacotes</h2>
                        <p>Inscreva-se e explore o curso por 7 dias. Se não atender às suas expectativas, receba reembolso integral, sem burocracia.</p>
                        <div class="row justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
                            <!-- <div class="col">
                            <div>
                                <a href="https://chk.eduzz.com/2216532" target="_blank">
                                
                                    <div class="shop__item pt-1">
                                        <p class="text-center m-0" style="color: white">ASSINATURA MENSAL</p>
                                        <div class="shop__item-thumb">
                                            <img src="/images/products/product01.svg" alt="img">
                                        </div>
                                        <div class="shop__item-line"></div>
                                        <div class="shop__item-content">
                                            <div class="shop__item-content-top">
                                                <h4 class="title">
                                                    de <span style="color: #ffbe18" class="text-decoration-line-through">37,90</span> por
                                                </h4>
                                                <div class="shop__item-price text-uppercase">24,90</div>
                                            </div>
                                            <div class="shop__item-cat"><a href="shop.html">Valor promocional</a></div>
                                        </div>
                                    </div>
                               
                                </a>
                                 </div>
                                 <a class="btn-action-checkout" href="https://chk.eduzz.com/2216532" target="_blank">Garanta aqui sua vaga</a>
                            </div> -->
                            
                            
                        <div class="col">
                            <a href="https://logn.eadplataforma.app/plan/programacao-do-basico-ao-avancado-65ea43b8dcad6" target="_blank">
                                <div class="shop__item pt-1">
                                    <p class="text-center m-0" style="color: white">ASSINATURA TRIMESTRAL</p>
                                    <div class="shop__item-thumb">
                                       <img src="/images/products/product04.svg" alt="img">
                                    </div>
                                    <div class="shop__item-line"></div>
                                    <div class="shop__item-content">
                                        <div class="shop__item-content-top">
                                            <h4 class="title">De <span style="color: #ffbe18" class="text-decoration-line-through">99,90</span> por</h4>
                                            <div class="shop__item-price">R$ 59.90<br></div>
                                        </div>
                                        <div class="shop__item-cat">3x de <span class="distaque">R$ 21,28</span></div>
                                    </div>
                                </div>
                                <a class="btn-action-checkout" href="https://logn.eadplataforma.app/plan/programacao-do-basico-ao-avancado-65ea43b8dcad6" target="_blank">Garanta aqui sua vaga</a>
                            </a>
                        </div>
                            
   
                        <!--<h2 class="title mbt-title" style="font-size: 35px">Sua Satisfação Garantida ou Seu Dinheiro de Volta</h2> 
                        <p>
                            Inscreva-se e explore o curso por 7 dias. Se não atender às suas expectativas, receba reembolso integral, sem burocracia.
                        </p>-->
                  
                </div>
            </div>
        </section>

        
        

        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/slider/slider_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="team__details-content">
                            <span class="sub-title">Testemunhos</span>
                            <h2 class="title" style="font-size: 35px">O que nossos alunos dizem</h2>
                            <div class="team__details-inner-wrap">
                                <div class="row My-grid">
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Leonard Rodrigues do V.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei bastante, aprendi muita coisa. Como estou iniciando meus estudos na programação, ainda não tenho um parâmetro formado, mas o que vi já me agradou, além da didatica e exemplos que são muito bons.
                                        </p>
                                    </div>
                                    <div class="roadMap__steps-item active content-none">
                                        <h3 class="title">Kelvin Macedo C.</h3>
                                        <ul class="avaliacao">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <p>
                                            Gostei, me ajudou bastante a entender melhor sobre lógica de programação, e a aula bônus é bem interessante. Parabéns!
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="grand__final">
                            <div class="grand__final-button">
                                <a href="#pacotes" class="tg-btn-3 tg-svg mx-auto">
                                    <div class="svg-icon" id="svg-35" data-svg-icon="/images/icons/shape.svg"></div>
                                    <span>Garantir Vaga</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- main-area-end -->


    <!-- footer-area-start -->
    <%- include("./includes/inc.footer.ejs") %>
    <!-- footer-start-end -->



    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascripts/contadorDeAulas.js" async></script>
</body>

</html>