<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="robot" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
</head>

<body>


    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <%- include('./includes/inc.header-service.ejs') %>



    <!-- main-area -->
    <main class="main--area">

        <!-- breadcrumb-area -->
        <!-- <section class="breadcrumb-area breadcrumb__hide-img" data-background="/images/bg/breadcrumb_bg02.jpg"> -->
        <section class="breadcrumb-area breadcrumb__hide-img"></section>
            <div class="container">
                <div class="breadcrumb__wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb__content">
                                <h2 class="title">contate-nos</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/servicos">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">contate-nos</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- contact-area -->
        <section class="contact-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="contact__content">
                            <h2 class="overlay-title"><span>LOGN</span></h2>
                            <h2 class="title">Solicite um orçamento</h2>
                            <p>
                                Hortolândia/SP
                            </p>
                            <div class="footer-el-widget">
                                <h4 class="title">informações</h4>
                                <ul class="list-wrap">
                                    <li><a href="tel:(19) 93618-0120" target="_blank">(19) 93618-0120</a></li>
                                    <li><a href="mailto:contato@logn.com.br" target="_blank">contato@logn.com.br</a></li>
                                    <li><a href="https://www.google.com/maps?ll=-22.875806,-47.209399&z=19&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=5356591561626203440" target="_blank">Edifício Comercial Metropolitan Office Tower.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-10">
                        <div class="contact__form-wrap">
                            <form id="contact-form" action="assets/mail.php" method="POST">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-grp">
                                            <input name="name" type="text" placeholder="Name *" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-grp">
                                            <input name="email" type="email" placeholder="Email *" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-grp message-grp">
                                    <textarea name="message" cols="30" rows="10" placeholder="Enter your message"></textarea>
                                </div>
                                <button class="submit-btn">Submit Now</button>
                            </form>
                            <p class="ajax-response"></p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- contact-area-end -->

        <!-- contact-map -->
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d772.7861353084663!2d-47.209496056617915!3d-22.876049022141295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8bb8b24fcb8a3%3A0x4a566fa51595b530!2sC%C3%B3digo%20Das%20Coisas!5e0!3m2!1spt-BR!2sbr!4v1691972378398!5m2!1spt-BR!2sbr"  allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- contact-map-end -->

    </main>
    <!-- main-area-end -->


    <%- include('./includes/inc.footer-service.ejs') %>


    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>