.content-none{
    margin: 0 !important;
}

.content-none::before{
    content: none !important;
}

.My-grid{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px !important;
}

span.blue-title{
    color: #09aff4 !important;
}

.my-blue-font-color{
    color: #09aff4 !important;;
}
.my-line-height span{
    display: inline-block;
    margin-top: 5px;
}

.btn-link-whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    left: 30px;
    cursor: pointer!important;
    background: #09aff4;
    opacity: 1;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .4s;
    color: #fff;
}

.btn-link-whatsapp svg{
    width: 30px;
    height: 30px;
}

.my-card-img{
    max-width: 100% !important;
    height: auto !important;
    background-color: #0d141b;
}

#sticky-header{
    padding: 20px 0;
}

#card-page,
#card-page-body,
#card-main{
    height: 100%;
}

#card-area{
    height: 100%;
    min-height: 800px;
}
#card-area-footer{
    position: static !important;
    width: 100%;
}

.main-img.reposition-partner{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-img.max-width-482{
    max-width: 100% !important;
    height: auto;
}

.my-popup-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.my-popup-video{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--tg-common-color-white);
    border-radius: 50%;
    font-size: 20px;
}

.avaliacao{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style-type: none;
    padding-left: 0;
    color: #ffbe18;
}
.formacao{
    row-gap: 20px;
}
.formacao > div{
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.formacao svg{
    color: #09aff4;
    width: 25px;
    height: 25px;
}

.do-curso{
    margin-top: 30px !important;
}

ul.list-curso{
    color: #ffbe18 !important;
    row-gap: 20px;
    /* font-size: 20px !important; */
}
ul.list-curso > li > span{
    color: #adb0bc !important;
}

.mb-title{
    font-size: 6vw !important;
}
@media screen and (max-width: 991px) {
    .mb-title{
        font-size: 11vw !important;
    }
    
}

@media screen and (max-width: 900px) {
    .My-grid{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}


/* área de serviços do site */